@import "../mixins";

.BlankState {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: toRem(16);
  padding: toRem(64) toRem(24);
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;

  animation: showBlankState 0.2s ease-in-out;

  p {
    font-size: toRem(16);
    line-height: var(--lh);
    text-align: center;
    color: var(--gray-300);
    font-weight: 700;

    span {
      font-weight: 400;
    }
  }
}

@keyframes showBlankState {
  0% {
    transform: translateY(toRem(12));
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
